#map-legend {
  font-size: 0.7em;
  z-index: 100;
}

.d3-vec {
  z-index: 1;
}

.lava-vec {
  z-index: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.barchart rect {
  fill: #993341;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.d3-vec { position:absolute; }
circle {
  /*fill: #993341;*/
  fill: #ccc;
  fill-opacity: .1;
  stroke: #fff;
  stroke-width: 1.5px;
}

.lava-vec { position: absolute; }
.lava-vec path {
  opacity: 0.2;
}

/* re-style bootstrap tooltips to be white */
.tooltip .tooltip-inner {
  background-color: #fff;
  color: #000;
}
