
/* Page Settings */
body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#map-container {
  height: 500px;
  width: 100%;
  position: absolute;
  margin: 0 0 40px;
  padding: 0;
}

#map { height: 500px; }

#map-regions {
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  min-width: 120px;
}

#map-regions .corner {
  height: 0px;
  border-bottom: 15px solid #fff;
  border-right: 15px solid transparent;
}
#map-regions .content {
  background: #fff;
  padding: 38px 0 5px;
}

#map-regions .image-link:hover {
  background-color: #fff;
  color: #000;
}

#map-regions ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

#map-regions li {
  padding: 0;
  background: none;
}

#map-regions a {
  display: block;
  font-size: 14px;
  padding: 0 12px;
  color: #67222E;
  font-size: 0.8em;
}

#map-regions a:hover {
  background: #012E18;
  color: #fff;
}

#map-regions a {
  text-decoration: none;
}

ul.legend img {
  padding: 0;
  margin: 0;
}

ul.legend {
  font-size: 0.7em;
}

ul.legend li span {
  margin: 0;
  padding: 0;
}

#map-legend {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px 10px;

/*  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;*/
}

#map-legend-teaser {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px 10px;
}

.town-description {
  overflow: auto;
  max-height: 250px;
}

.town-description p {
  font-size: 12px !important;
}

.legend-close-link {
  position: absolute;
  top: 0;
  text-decoration: none;
  color: #111;
  right: 7px;
  font-size: 16px;
  font-weight: bold;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=95);
  opacity: 0.95;
}

#map-container h3,
#map-container h4 {
  margin: 5px 0 10px;
}

#map-container p {
  margin: 0 0 5px;
}

.tooltip span{
  color: #999;
}

h4.tooltip-title{
  margin-bottom: 4px !important;
}

p.tooltip-text {
  font-size: 1em !important;
  line-height: 16px !important;
}