p {
  padding: 10px 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/* title styles for page sections */
.section-title {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.section-title.introduction {
  background-color: #000;
  margin-top: 0;
  background-color: #000;
  background-image: url('../img/lava.jpg');
  height: 550px;
  background-repeat: no-repeat;
  background-position: left;
}

div.section-title.introduction .intro-title {
  position: absolute;
  top: 250px;
  right: 150px;
}

div.section-title.introduction .intro-title h1 {
  font-size: 3em;
}

div.section-title.introduction .intro-title p {
  font-size: 1.5em;
}

.section-title.etna-map {
  background-color: #6DCB62;
}


.section-title.life {
  background-color: #FEB24C;
}

.section-title.effects {
  background-color: #993341;
}

.section-title.tourism {
  background-color: #387FA8;
}

.section-title.cs171 {
  background-color: #bbb;
}

.section-title h2 {
  font-size: 3em;
  padding: 100px 0;
}

.thumbnail {
  margin: 10px 0;
}

.no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.towns-list li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.towns-list li:hover {
  background-color: #E0A3AA;

}

.towns-list li:hover a {
  color: #fff;
}

.towns-list li:first-child {
  border-top: 1px solid #eee;
}